# Dependencies
node_modules/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbbs.db

# IDE
.vscode/

# Logs
*.log

# Vercel
.vercel

# Firebase
.firebase/

# Personal notes
TODO.md
